<h1>Desplegable</h1>

@Html.DropDownList("LasMarcas", new List<SelectListItem>{
    new SelectListItem{Text="Opel", Value="1", Selected=true},
    new SelectListItem{Text="Ferrari", Value="2"},
     new SelectListItem{Text="Mercedes", Value="3"}
})
@Html.DropDownList("Marcas", "Seleccione una marca")

<select id="unasmarcas" name="unasmarcas">
    @foreach (var item in ViewBag.Marcas2)
    {
        <option value="@item.ID">@item.Nom_Marca</option>
    }
</select>