@model IEnumerable<MVC2024.Models.MarcaModelo>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Marca")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Listado" asp-controller="Serie" asp-route-id="@item.Id">@item.Nom_Marca</a> <!-- Controller Serie (sin el controller)-->
            </td>
        </tr>
}
    </tbody>
</table>
