@page
@model RazorPages1.Pages.Alumnos.IndexModel
@{
}
<h1>Alumnos</h1>
<h3>@Model.Alumnos.Count()</h3><!--ponemos la arroba para trabajar con ASP-->
<div class="card-deck">
    @foreach(var alumno in Model.Alumnos)
    //ponemos var por comodidad pero se podría poner Alumno, que sería más específico, pero
    // este lenguaje traga
    {
        var photo = "~/images/" + (alumno.Foto ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30%">
            <div class="card-header">
                <h3>@alumno.Nombre</h3>
            </div>
            <div>
                <img class="card-img-top imageThumbail"
                        asp-append-version="true"
                        src="@photo">
            </div>

        </div>
    }
</div>